.dashboardConatainer{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    gap: 4rem;
    
}
.defaulText{
    font-size: 4rem;
    margin-top: 4rem;
}